[user]
	name = realaravinth
	email = realaravinth@batsense.net
[core]
	editor = nvim
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
